.normal-lyt {
      padding: 30px;
  text-align: left;
}
h2 {
      font-size: 48px;
    font-weight: bold;
}
p {
      font-size: 18px;
}
#approaches > div > ul > li{
  font-size: 18px;
}
.card {
  
    margin-bottom: 10px;
}
.modal-header, .modal-footer {
      background: rgb(118, 57, 164) !important;
  color: white !important;
}
.modal-body {
      background: white;
    color: #7639a4;
}
.btn-close {
      filter: invert(1);

}

#memberImage {
      width: 200px !important;
}