<link rel="stylesheet" href="css/footer.css">


<!-- Copyright Footer -->
<footer class="text-center text-white">

<!-- Grid container -->
<div class="container p-4 pb-0">
  <a class="btn btn-outline-light btn-floating m-1" href="/legal.html" role="button"
      >  Legal Disclaimer
</a>

  <!-- Section: Social media -->
</div>
<!-- Grid container -->

<!-- Copyright -->
<div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
Duke University Undergraduate Research</div>
<!-- Copyright -->
</footer>
