<link rel="stylesheet" href="css/nav.css">
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="/"><img class='logo_img' src='imgs/nav/final_logo.png'></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
      aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarAboutUsDropdown" role="button"
            data-bs-toggle="dropdown" aria-expanded="false">
            About Us
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarAboutUsDropdown">
            <li><a class="dropdown-item" href="/about.html#mission">Our Mission</a></li>
            <li><a class="dropdown-item" href="/about.html#team">Our Team</a></li>
            <li><a class="dropdown-item" href="/about.html#approaches">Our Approaches</a></li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarOurWorkDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" onclick="event.stopPropagation()" style="
                padding-left: 15px;
              ">
                            Our Work
                          </a>
              <ul class="dropdown-menu" aria-labelledby="navbarOurWorkDropdown">
                <li><a class="dropdown-item" href="/work.html#first">Lorem ipsum dolor sit amet</a></li>
                <li><a class="dropdown-item" href="/work.html#second">Lorem ipsum dolor sit amet</a></li>
                <li><a class="dropdown-item" href="/work.html#third">Lorem ipsum dolor sit amet</a></li>
                <li><a class="dropdown-item" href="/work.html#fourth">Lorem ipsum dolor sit amet</a></li>
                <li><a class="dropdown-item" href="/work.html#fifth">Lorem ipsum dolor sit amet</a></li>
              </ul>
            </li>
          </ul>
        </li>
        <li class="nav-item">
          <a class='nav-link' href="/our-work.html">News</a>
        </li>
        <li class="nav-item">
          <a class='nav-link' href="/jobs.html">Jobs</a>
        </li>
        <li class="nav-item">
          <a class='nav-link' href="/contact.html">Contact Us</a>
        </li>
        <!-- <li class="nav-item">
          <a class='nav-link' href="/jobs.html">Jobs</a>
        </li> -->
      </ul>
      <a href="/donate.html" class="donate-link">
        Donate
      </a>
    </div>
  </div>
</nav>
